
.icon-edit:before { content: '\e800'; } /* '' */
.icon-star-empty:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-trash-empty:before { content: '\e803'; } /* '' */
.icon-lock:before { content: '\e804'; } /* '' */
.icon-lock-open:before { content: '\e805'; } /* '' */
.icon-link:before { content: '\e806'; } /* '' */
.icon-cancel:before { content: '\e807'; } /* '' */
.icon-docs-1:before { content: '\e808'; } /* '' */
.icon-align-justify-solid:before { content: '\e809'; } /* '' */
.icon-cog:before { content: '\e80a'; } /* '' */
.icon-dot-3:before { content: '\e80b'; } /* '' */
.icon-up-open:before { content: '\e80c'; } /* '' */
.icon-down-open:before { content: '\e80d'; } /* '' */
.icon-down-big:before { content: '\e80e'; } /* '' */
.icon-up-big:before { content: '\e80f'; } /* '' */
.icon-minus:before { content: '\e810'; } /* '' */
.icon-plus:before { content: '\e811'; } /* '' */
.icon-clipboard-regular:before { content: '\e812'; } /* '' */
.icon-plus-1:before { content: '\e813'; } /* '' */
.icon-minus-1:before { content: '\e814'; } /* '' */
.icon-eye:before { content: '\e815'; } /* '' */
.icon-eye-off:before { content: '\e816'; } /* '' */
.icon-print:before { content: '\e817'; } /* '' */
.icon-cog-alt:before { content: '\e818'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-clone:before { content: '\f24d'; } /* '' */