
/* css custom property */
:root{
  --content-font-size: 13px;
  --viewer-code-line-height: 1.4;
  --viewer-code-striped-height: 72; /* (Math.floor(font size * 1.4) * 4) */
  --icon-color-hover: coral;
  --icon-color: #017075;
}

@media screen and (min-width: 991px) {
html, body {
    height: 100%;
    box-sizing: border-box;
  }
}

/* Vue specifics */
[v-cloak]{ display:none; }


#app {height: 100%;}
#notebooks { /*max-width: 250px;*/ background-color: #efefef; padding: 5px; min-height: 100%; border-right: 1px solid lightgray;}
#app.darkblue #notebooks {background-color: #142b40; color: lavender; border-right: 1px solid #142b40;}
#snippets{ min-height:100%; border-right: 1px solid lightgray;}
#snippet {min-height:100%; }

#notebooks .header {height: 100px; position:relative;}
#notebooks .header img { position: absolute; top: 10px; left: 10px; cursor: crosshair;}
#notebooks .header h1 { margin-left: 62px; float: left; padding-top: 28px; color: mediumvioletred; cursor: crosshair;}
#notebooks .header h1::first-letter {color: coral;}
#notebooks .search {margin: 15px 0 25px 0;}
#notebooks .notebookList { font-size:0.92rem; padding-left: 8px;}
#notebooks .notebook {padding: 0.2rem 0.5rem; background-color: inherit; border: 0; cursor: pointer;}
#notebooks_ .notebook::before { content: "\2022"; color: red; display: inline-block; width: 34px; margin-left: -15px; font-size: 33px; margin-right: -16px; line-height: 17px; vertical-align: top;}
#notebooks .notebook .icon {font-size:10px; position:absolute; top:6px; left:-10px;}
#notebooks .notebook.selected {font-weight: bold;}
#notebooks .notebook:hover {color: coral;}
#notebooks .notebook .count {float:right; font-size:0.8rem;}
#notebooks .title {margin-left: 0.5rem; margin-bottom: 10px; display: inline-block; color: darkgray; font-weight: bold; font-size: 0.9rem; text-transform: uppercase;  letter-spacing: 0.1rem;}

#snippets .header {height: 50px; border-bottom: 0px solid lightgray; padding: 10px 15px; background-color: #fff; z-index: 9; position: relative; overflow: hidden;}
#snippets .header .title { display: block;  /* color: white; */ height: 47px; padding-top: 10px; padding-left: 10px;}
#snippets .header .cmds {position: absolute; right: 0px; top: 7px;}
#snippets .snippet {border-bottom: 1px solid lightgray; line-height: 1.2rem; font-size:0.95rem; padding-top: 8px; padding-bottom: 7px; max-height: 68px; cursor: pointer;  }
#snippets .snippet.selected {background-color: #f1f1f1; padding-left: 15px; border-left: 5px solid #ffd000;}


#snippet .header {height: 50px; border-bottom: 1px solid lightgray; padding: 10px 15px; background-color: #fff; z-index: 9; position: relative; }
#snippet .header .thirdPartySnippet {font-size: 0.9rem; padding-right: 20px;  color: #ff3d00;}
#snippet .header.active {box-shadow: 0px 2px 8px 1px rgb(255 152 0 / 31%); background: linear-gradient(9deg, #ffd00026, #fff 30%); border-left: 0px solid #ffd000;}
@media screen and (max-width: 991px) {
  /* separate content from menu to be more visible on mobile */
  #snippet .header.active {border-top: 0px solid #666; background: none;}
  #snippet .header.active.editing {border-top: 0;}
}

#snippet .header.editing {position:fixed; width:100%; z-index:99; top: 0; 
  background-color: #ffd000; background: linear-gradient(to left, #ffb300, #ffd000); box-shadow: 1px 6px 8px 0px rgb(255 152 0 / 22%) }
#snippet .header .cmds, #snippet .metadata .cmds {float: right; display:flex;}/* flex removes whitespace between inlineblock elements */
#snippet .header .cmds {margin-top: -5px;}
#snippet .header.editing .cmds {/*margin-top: -5px;*/ position:fixed; top: 10px; right: 15px; z-index:100;}
#snippet .header.editing .cmds .btn {margin-left: 10px;}
#snippet .header .title {max-width: 390px; display: inline-block; line-height: 1.2rem;  margin-top: -2px;}
#snippet .description { word-wrap: break-word; white-space: pre-wrap; padding: 5px; border-bottom: 1px solid lightgray; background-color: #f5f5f5; font-size: 0.9rem;}
#snippet .metadata {padding: 5px; height: 35px; background-color: #f1f1f1; border-bottom: 1px solid lightgray;}
#snippet .metadata.editing {margin-top:50px;}
#snippet .metadata .cmds {margin-right:12 px; margin-top: -2px;}


.user {margin-bottom: 20px; text-align: center;}
.user .name {display:inline-block; margin-left: 10px;}

.clear {clear: both;}
.error {color: red;}

.snippetList .list-group-item {-webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;}
.snippetList .list-group-item:hover {background-color: #ffd000; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
.snippetList .link-unstyled, .link-unstyled:link, .link-unstyled:hover {color: inherit; text-decoration: inherit;}
.snippetList .icon-favorite {color: lightgrey; font-size: 12px; position: absolute; top: 0; right: 0;}
.snippetList .icon-public {color: lightgrey; font-size: 12px; position: absolute; top: 0; right: 15px;}
.snippetList .parentTitle { position: absolute; right: 2px; font-size: 11px; top: -4px; color: #ccc;}

.btn-xs{ padding: 1px 5px !important; font-size: 12px !important; line-height: 1.5 !important; border-radius: 3px !important; }
.btn-shadow { box-shadow: 3px 4px 6px -1px rgb(0 0 255 / 20%);}

.icon {font-size:17px; cursor:pointer; color: var(--icon-color);}
.icon:hover {color: var(--icon-color-hover) }
#app.darkblue #notebooks .icon {color: lightskyblue;}
.header .icon {font-size:22px;}
.cmds .icon {margin: 0 2px;}
#snippet .header .cmds .icon.selected {color: var(--icon-color-hover) }
#snippet .metadata .cmds .icon.selected {border: 1px solid #0170758a; border-radius: 3px; margin:0 1px;}
#snippet .metadata .cmds .charCount { margin-right: 20px; color: #017075; margin-top: 3px; font-size: 13px;}
/* .header .icon.shadowH:hover {
  border: 1px solid #fff;
  border-radius: 100%;
  box-shadow: 0px 6px 7px -3px #a0b6b7;
} */



/* markdown styling */
#snippet .content .markdown {padding:0.5em;}
#snippet .content .markdown h1 {font-size: 1.9rem; margin: 30px 0 20px 0;}
#snippet .content .markdown h1:nth-child(1) {margin-top: 0px;}
#snippet .content .markdown h2 {font-size: 1.50rem}
#snippet .content .markdown h3 {font-size: 1.2rem}
#snippet .content .markdown table {margin-bottom: 10px;}
#snippet .content .markdown table, #snippet .content .markdown table th, #snippet .content .markdown table td {border: 1px solid #999;}
#snippet .content .markdown table th, #snippet .content .markdown table td {padding: 5px;}
#snippet .content .markdown table tbody tr:nth-child(odd) { background-color: #fff;}
#snippet .content .markdown table tbody tr:nth-child(even) { background-color: #f4f4f4;}
#snippet .content .markdown blockquote { background-color: #f4f4f4; padding: 5px; border-left: 10px solid #e4e4e4; }
#snippet .content .markdown blockquote p{margin:0.5rem 0 0.5rem 0;}
#snippet .content .markdown pre code { background-color: #f4f4f4; padding: 5px; }


/* highlighter viewer overrides */
#snippet .content {padding: 5px; border-bottom:1px solid lightgray; font-size: var(--content-font-size); box-shadow: 0px 4px 14px -3px lightgray;}
/* highlighter js has it, so have we to prevent jumping */
#snippet pre code { display:block; padding: 0 0.5em; background-color: #fff; font-size: var(--content-font-size); }
#snippet pre code.hljs.plaintext {word-wrap: break-word; white-space: pre-wrap;}
#snippet pre code.hljs.javascript, 
#snippet pre code.csharp, 
#snippet pre code.sql, 
#snippet pre code.css, 
#snippet pre code.json, 
#snippet pre code.python {
  line-height: var(--viewer-code-line-height); 
}
#snippet pre code.zebraStripes {
  background-image: linear-gradient(0deg, #ffffff 25%, #f7f7f7 25%, #f7f7f7 50%, #ffffff 50%, #ffffff 75%, #f7f7f7 75%, #f7f7f7 100%); 
  background-size: 80px var(--viewer-code-striped-height);
}

/* center mermaid graphs */
#snippet pre code.mermaid { text-align: center;}

/* codemirror code editor override */
.CodeMirror { border: 1px solid #eee; height: auto; } /* automatically resize to fit its content.*/
.cm-content, .cm-gutter { min-height: 150px; }
.cm-gutters { margin: 1px; }
.cm-scroller { overflow: auto; }
.cm-wrap { border: 1px solid silver }
.CodeMirror-lines {line-height: var(--viewer-code-line-height)}

#notebook_edit .modal-body {max-width:510px;}

@media screen and (max-width: 991px) {
  .modal-container {
    width: fit-content;
    padding: 5px;
  }
}

/* between mobile and desktop two cols and content below */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-2 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

#notebook_edit .color {width:20px; height:20px; margin-right:10px; margin-bottom:10px; float: left; border: 1px solid #bac8d6; cursor:pointer;}
#notebook_edit .color.selected {border:3px solid #000;}

.sweepright {
  padding: .75em;
  border: 1px #ddd solid;
  background: linear-gradient(to right,#ff8177, #ffd000 );
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s 0s;
  transition-timing-function: ease-out;
}

.sweepright:hover {
  background-size: 100% 100%;
  transition: background-size 0.1s 0s;
}

#notebooks .foldersTitleContainer:hover span.title_ {color: coral !important;}
#notebooks .foldersTitleContainer:hover i.icon {color: #ffcc00;}
#notebooks .foldersTitleContainer:hover .createFolderAnim {
	display: inline-block;
  margin: auto;
  -webkit-animation: rotateY 3s infinite linear;
  animation: rotateY 3s infinite linear, rotateHueColor 3s infinite;
}
@-webkit-keyframes rotateY {  to { -webkit-transform: rotateY(360deg); }}
@keyframes rotateY {  to { transform: rotateY(360deg); }}
@keyframes rotateHueColor {
  from, to { color: lightskyblue; }
  45%      { color: #80b3e5 }
  95% { color: lightskyblue; }
}
